/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');

body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
}
.timer {
  display: flex;
  justify-content: center;
  gap: 15px;
  font-size: 24px;
}
.field {
  display: flex;
  flex-direction: column;
  align-items: center;
}